[Unit]
Description=Messanger
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/b0shka/chat/
ExecStart=/usr/bin/python3 /home/b0shka/chat/server.py
Restart=always

[Install]
WantedBy=multi-user.target
