[Unit]
Description=Messanger
After=network.target

[Service]
Type=idle
WorkingDirectory=/home/q/p/python/socket/chat/
ExecStart=/usr/bin/python3 /home/q/p/python/socket/chat/server.py
Restart=always

[Install]
WantedBy=multi-user.target
